
  <!--<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-beat">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>-->
  <app-nav></app-nav>
  <section>
  <nav aria-label="breadcrumb" class="p-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/package-list']">Packages List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Packages Comparison</li>
    </ol>
  </nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-2 form-group"><h5 style="display: inline-block;"><span> Search</span>&nbsp;
              <span style="float: right; cursor: pointer;user-select: none;" (click)="toggleShow()">show / hide</span>
             
             
            </h5></div>
            <div class="col-sm-2 form-group">
              <div class="form-check form-switch"  >
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckByGroup" (change)="switchCheckByGroup($event)">
                <label class="form-check-label" for="flexSwitchCheckByGroup" >By Group</label>
              </div>

            </div>
            <div *ngIf="byGroup" class="col-sm-3 form-group">
              <ng-select [items]="groups"  
              bindLabel="name" 
              bindValue="id" 
              [placeholder]="'Select group'"
              [closeOnSelect]="true"
              [(ngModel)]="selectedGroup" (ngModelChange)="onGroupchange($event)"></ng-select>
            </div>
            <div class="col-sm-2 form-group">
              <button class="btn btn-danger" (click)="generatePDF()" [disabled]="generatingFile">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="generatingFile"></span>
                <span class="fa-solid fa-file-pdf"></span>
                <span *ngIf="generatingFile">Generating...</span>
                <span *ngIf="!generatingFile">Generate PDF</span>
                </button>
            </div>
            <div class="col-sm-2 form-group">
              <button type="button" class="btn btn-primary" style="float: right; width: 100%;"
              (click)="openSendEmailModal()">Send Email</button>
              
            </div>
         
            
        </div>
            
        </div>
        <div class="card-body" *ngIf="isShown">
            <div class="row">
                <div class="col-sm-3 form-group">
                   
                    <mat-form-field appearance="fill" class="full-width-field">
                        <mat-label>BOQ Div</mat-label>
                        <mat-select [(ngModel)]="SearchInput.bOQDiv" multiple>
                            <input matInput type="text" focused="'true'" (keyup)="filterBOQDiv($event)" (keydown)="$event.stopPropagation()" class="mat-filter">
                            <span class="fa fa-search input-icon"></span>
                            <mat-divider></mat-divider>
                         
                          <mat-option *ngFor="let item of selectedBOQDivList" [value]="item.sectionO">{{ item.sectionO }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                
                </div>
    
                <div class="col-sm-2 form-group">                   
                    <label>BOQ Ref</label>                       
                    <input type="text" class="form-control" [(ngModel)]="SearchInput.bOQItem">         
                </div>
    
                <div class="col-sm-3 form-group">                  
                    <label>BOQ Desc</label>                
                    <input type="text" class="form-control" [(ngModel)]="SearchInput.bOQDesc">                       
                </div>
    
                <div class="col-sm-2 form-group">               
                    <label>From Row</label>                    
                    <input type="text" class="form-control" [(ngModel)]="SearchInput.fromRow">                  
                </div>
                <div class="col-sm-2 form-group">
                    <label>To Row</label>
                    <input type="text" class="form-control" [(ngModel)]="SearchInput.toRow">
                </div>
                </div>
            <div class="row">           
                <div class="col-sm-3 form-group">           
                    <mat-form-field appearance="fill" class="full-width-field">
                        <mat-label>Sheet Desc</mat-label>
                        <mat-select [(ngModel)]="SearchInput.sheetDesc">
                            <input matInput type="text" focused="'true'" (keyup)="filterSheetDesc($event)" (keydown)="$event.stopPropagation()" class="mat-filter">
                            <span class="fa fa-search input-icon"></span>
                            <mat-divider></mat-divider>
                          <mat-option></mat-option>
                          <mat-option *ngFor="let item of selectedSheetDescList" [value]="item.obSheetDesc">{{ item.obSheetDesc }}</mat-option>
                        </mat-select>
                      </mat-form-field>        
            </div>
            <div class="col-sm-3 form-group">              
              <mat-form-field appearance="fill" class="full-width-field">
                  <mat-label>RES Div</mat-label>
                  <mat-select [(ngModel)]="SearchInput.rESDiv" multiple>
                      <input matInput type="text" focused="'true'" (keyup)="filterRESDiv($event)"  (keydown)="$event.stopPropagation()" class="mat-filter">
                      <span class="fa fa-search input-icon"></span>
                      <mat-divider></mat-divider>
                   
                    <mat-option *ngFor="let item of selectedRESDivList" [value]="item.boqDiv">{{ item.boqDiv }}</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
    
          <div class="col-sm-3 form-group">
              <mat-form-field appearance="fill" class="full-width-field">
                  <mat-label>RES Type</mat-label>
                  <mat-select [(ngModel)]="SearchInput.rESType" multiple>
                      <input matInput type="text" focused="'true'" (keyup)="filterSearchRESType($event)" (keydown)="$event.stopPropagation()" class="mat-filter">
                      <span class="fa fa-search input-icon"></span>
                      <mat-divider></mat-divider>
                   
                    <mat-option *ngFor="let item of selectedRESTypeList" [value]="item.boqCtg">{{ item.boqCtg }}</mat-option>
                  </mat-select>
                </mat-form-field>   
          </div>
    
          <div class="col-sm-3 form-group">
             
              <label>RES Desc</label>
          
              <input type="text" class="form-control" [(ngModel)]="SearchInput.rESDesc">
                 
          </div>
            </div>
           
    
           <hr>
    
            <div class="row">
                
                <div class="col-sm-2 form-group">
                    <button type="button" class="btn btn-primary" [disabled]="searching" style="float: right; width: 100%;"
                        (click)="onSearch()">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="searching"></span>
                        <span *ngIf="searching">Searching...</span>
                        <span *ngIf="!searching">Search</span>
                        </button>
                </div>
                <div class="col-sm-2 form-group">
                    <button type="button" class="btn btn-danger" style="float: right; width: 100%;"
                        (click)="clearAllSelections()">Clear All Selections</button>
                </div>
               
            </div>
    
        </div>
    </div>
    </div>
  </div>

  
<div class="row">
  <div class="col-12 table-responsive">
    <table class="table table-comparison" *ngIf="byBoq == 0">
      <thead>
        <tr>
          <th style="width:1%"><input type="checkbox" (change)="selectAllItemsByResource($event.target)"></th>
          <th>Item Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of RevisionDetailsBoqItems; let i = index">
          <td>
            <input type="checkbox" (change)="selectItemByResource($event.target, getParentTargetByResource($event.target))">
          </td>
          <td>
            
            <div class="p-2">{{item.descriptionO}}</div>
            <div class="p-2">
            <table class="table" *ngIf="checkIfItemExistsInResources(comparisonObject, item.itemO) > 0">
              <thead>
                <tr>
                <th></th>
                <th scope="col" *ngFor="let col of columns">
                  {{col}}
                </th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dt of getResourcesPerItem(comparisonObject, item.itemO); let j = index" [ngClass]="isAssigned(dt) ? 'bg-acc' : ''">
                  <td style="width:1%">
                    <input type="checkbox" (change)="selectResource($event.target, dt.resourceID, getParentItemTargetByResource($event.target), item.itemO)">
                    <input type="hidden" [value]="dt.resourceID">
                  </td>
                  <td *ngFor="let itemCol of comparisonObjectColumns" style="width:5%">
                    <span *ngIf="isPriceUpdated(dt, itemCol)" class="text-danger">{{(itemCol == 'resourceQty' || itemCol.indexOf('price') > -1 ? (dt[itemCol] | number : '1.2-2') :  dt[itemCol])}}</span>
                    <span *ngIf="!isPriceUpdated(dt, itemCol)">{{(itemCol == 'resourceQty' || itemCol.indexOf('price') > -1 ? (dt[itemCol] | number : '1.2-2')  :  dt[itemCol])}}</span>
                  </td>
                  <td *ngIf="show && isResourceSelected(dt.resourceID)" style="width:5%">
                    <p *ngFor="let sup of packageSuppliersPrice; let i = index">
                      <label>Quantity {{ sup.supplierName}}</label>
                      &nbsp;
                      <input class="form-control" type="text" 
                      [value]="getPercByResource(sup.revisionDetails, dt.resourceID, item.itemO)" id="perc-{{sup.supplierId}}"/>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </td>
        </tr>
        
      </tbody>
      <tfoot>
        <tr>
        <td colspan="2">
          <table class="table">
            <tr>
              <td><strong>Sub Total</strong></td>
              <td style="width:35%">
                <table class="table">
                    <tr>
                      <td *ngFor="let item of totalPackageSuppliersPrice ;  let i = index">
                        <table class="table">
                          <tr>
                            <td><strong>{{item.totalprice | number : '1.2-2' }}</strong></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        </tr> 
        <tr>
          <td colspan="2">
            <table class="table">
              <tr>
              <td><strong>Additional Fees</strong></td>
              <td style="width:35%">
                <table class="table">
                  <tr>
                    <td *ngFor="let supp of packageSuppliersPrice">
                      <table class="table">
                        <tr *ngFor="let field of supp.fieldLists">
                          <td>
                            <span *ngIf="field.type == fieldTypes.AMOUNT_TYPE_ID"> {{field.label}} ({{field.value}})</span>
                            <span *ngIf="field.type == fieldTypes.PERCENTAGE_TYPE_ID"> {{field.label}} ({{field.value}}%)</span>
                          </td>
                        </tr>
                      </table>
                  </td>
                  </tr>
                </table>
              </td>
              </tr>
            </table>
          </td>
          
        </tr>
        <tr>
          
          <td colspan="2">
            <table class="table">
                <tr>
                  <td>
                    <strong>Grand Total</strong>
                  </td>
                  <td style="width:35%">
                    <table class="table">
                      <tr>
                       
                        <td *ngFor="let item of totalPackageSuppliersPrice ;  let i = index">
                          <table class="table" >
                            <tr>
                              <td><strong>{{item.totalNetPrice | number : '1.2-2' }}</strong></td>
                            </tr>
                          </table>
                          
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
            </table>
            
            
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="table">
              <tr>
                <td>
                  <strong>Technical Conditions</strong>
                 
                </td>
              </tr>
              <tr>
                <td>
                  <table class="table table-bordered">
                          <tr *ngFor="let cond of techConditionsReplies ;  let i = index">
                            <td style="width:70%">{{cond.description}}</td>
                            <td *ngFor="let reply of cond.replies">
                              <table class="table">
                                <tr>
                                  <td class="text-center"><strong>{{reply.reply}}</strong></td>
                                </tr>
                              </table>
                            </td>                     
                          </tr>
                        </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="table">
              <tr>
                <td>
                  <strong>Commercial Conditions</strong>
                 
                </td>
              </tr>
              <tr>
                <td>
                  <table class="table table-bordered">
                          <tr *ngFor="let cond of comConditionsReplies ;  let i = index">
                            <td style="width:70%">{{cond.description}}</td>
                            <td *ngFor="let reply of cond.replies">
                              <table class="table" >
                                <tr>
                                  <td class="text-center"><strong>{{reply.reply}}</strong></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tfoot>
    </table>

   
    <table class="table table-comparison" *ngIf="byBoq == 1">
      <thead>
        <tr>
          <th style="width:1%">
          <input type="checkbox" (change)="selectAllItemsByBoq($event.target)">
          </th>
          <th scope="col" *ngFor="let col of columns">
            {{col}}
          </th>
        </tr>
      </thead>
      <tbody>
       
        <tr *ngFor="let item of comparisonObject; let j = index" [ngClass]="isAssigned(item) ? 'bg-acc' : ''">
          <td style="width:1%">
            <input type="checkbox" (change)="selectBoqItem($event.target, item['itemO'], getParentTargetByBoqItem($event.target))">
            <input type="hidden" [value]="item['itemO']">
          </td>
          <td *ngFor="let itemCol of comparisonObjectColumns">
                <span *ngIf="isPriceUpdated(item, itemCol)" class="text-danger">{{ item[itemCol] }}</span>
                <span *ngIf="!isPriceUpdated(item, itemCol)">{{ item[itemCol] }}</span>
          </td>
          <td *ngIf="show && isBoqItemSelected(item['itemO'])">
            <p *ngFor="let sup of packageSuppliersPrice; let i = index">
              <label>Percentage {{ sup.supplierName}}</label>
              &nbsp;
              <input class="form-control" type="text" [value]="getPercByItem(sup.revisionDetails, item.itemO)" id="perc-{{sup.supplierId}}"/>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="4"><strong>Sub Total</strong></td>
          <td *ngFor="let item of totalPackageSuppliersPrice ;  let i = index">
            <table class="table">
              <tr>                
                <td>
                  <strong>{{item.totalprice | number : '1.2-2' }}</strong>
                </td>
              </tr>
            </table>
            
          </td>
        </tr>
        <tr>
          <td colspan="4"><strong>Additional Fees</strong></td>
          <td *ngFor="let supp of packageSuppliersPrice">
            <table class="table">
              <tr *ngFor="let field of supp.fieldLists">
                
              <td>
                 <span *ngIf="field.type == fieldTypes.AMOUNT_TYPE_ID"> {{field.label}} ({{field.value}})</span>
                 <span *ngIf="field.type == fieldTypes.PERCENTAGE_TYPE_ID"> {{field.label}} ({{field.value}}%)</span>
              </td>
            </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="4"><strong>Grand Total</strong></td>
          <td *ngFor="let item of totalPackageSuppliersPrice ;  let i = index">
            <table class="table">
              <tr>
                
                <td>
                  <strong>{{item.totalNetPrice | number : '1.2-2' }}</strong>
                </td>
              </tr>
            </table>
            
          </td>
        </tr>
        <tr>
          <td [attr.colspan]="totalPackageSuppliersPrice.length + 4"><strong>Technical Conditions</strong></td>
        </tr>
        <tr>
          <td [attr.colspan]="totalPackageSuppliersPrice.length + 4">
            <table class="table table-bordered">
              <tr *ngFor="let cond of techConditionsReplies ;  let i = index">
                <td style="width:70%">{{cond.description}}</td>
                <td *ngFor="let reply of cond.replies" style="width:30%">
                  <table class="table">
                    <tr>
                      <td class="text-center"><strong>{{reply.reply}}</strong></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td [attr.colspan]="totalPackageSuppliersPrice.length + 4"><strong>Commercial Conditions</strong></td>
        </tr>
        <tr>
          <td [attr.colspan]="totalPackageSuppliersPrice.length + 4">
            <table class="table table-bordered">
            
                  
              <tr *ngFor="let cond of comConditionsReplies ;  let i = index">
                <td style="width:70%">{{cond.description}}</td>
                <td *ngFor="let reply of cond.replies"  style="width:30%">
                  <table class="table">
                    <tr>
                      <td class="text-center"><strong>{{reply.reply}}</strong></td>
                    </tr>
                  </table>
                </td>
              </tr>
        </table>
          </td>
         
        
        </tr>
      </tbody>
    </table>
  <br>

  <table class="table" id="myTable" style="display:none">
    <thead>
      <tr>
        <th scope="col" *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of comparisonObject; let j = index">
        <td *ngFor="let itemCol of comparisonObjectColumns">
          {{itemCol}}
          {{ item[itemCol] }}
        </td>
        <td *ngIf="show">
          <p *ngFor="let sup of packageSuppliersPrice; let i = index">
            <label>Percentage {{ item.supplierName}}</label>
            &nbsp;
            <input class="form-control" type="text" value="{{sup.revisionDetails.length > 0 ? sup.revisionDetails[j].perc : 0}}" id="perc-{{sup.supplierId}}"/>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="4"><strong>Additional Fees</strong></td>
        <td *ngFor="let item of packageSuppliersPrice">
          <p *ngFor="let field of item.fieldLists">
            {{field.label}} ({{field.value}}%)
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="4"><strong>Total</strong></td>
        <td *ngFor="let item of totalPackageSuppliersPrice ;  let i = index" [ngClass]="{ 'lowest': item.lowest }">
          <strong>{{item.totalprice | number : '1.2-2' }}</strong>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

    

  <br>

  <div class="row" *ngIf="!show">
    <div class="col-4"></div>
    <div class="col-4">
      <button style="width: 100%;" type="button" class="btn btn-primary" (click)="OpenAssignInputs()" 
      [disabled]="selectedResources.length == 0 && selectedBoqItems.length == 0">
        Assign Package By Quantity
      </button>
    </div>
    <div class="col-4">
      <button style="width: 100%;" type="button" class="btn btn-primary" (click)="OpenAssignModal()" 
      [disabled]="selectedResources.length == 0 && selectedBoqItems.length == 0">
        Assign Package By Percentage
      </button>
    </div>
  </div>

  <div class="row" *ngIf="show">
    <div class="col-8"></div>
    <div class="col-2">
      <button style="width: 100%;" type="button" class="btn btn-secondary" (click)="Cancel()" >
        Cancel
      </button>
    </div>
    <div class="col-2">
      <button style="width: 100%;" type="button" class="btn btn-primary" [disabled]="isAssigningSupplierRessource" (click)="saveNew()">
        <i  [ngClass]="isAssigningSupplierRessource ? 'fa-solid fa-circle-notch fa-spin' : ''"></i>
        Save
      </button>
    </div>
  </div>
  <br>
  <br>

  <!-- Assign Package Modal -->
  <div class="modal fade" id="assignPackageModal" tabindex="-1" aria-labelledby="assignPackageLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="assignPackageLabel">Assign Package by Percentage</h5>
          <button type="button" class="btn-close" (click)="CloseAssignModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">

            <table class="table">
              <thead>
                <tr>
                  <th scope="col" hidden="true">Supplier Id</th>
                  <th scope="col">Supplier Name</th>
                  <th class="percentage" scope="col">Percentage</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of SupplierPackagesList; let i = index">
                  <td hidden="true">{{item.psSuppId}}</td>
                  <td>{{item.psSupName}}</td>
                  <td><input type="text" class="form-control" id="valueInput{{i}}"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"></td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="modal-footer customFooter">
            <button type="button" class="btn btn-secondary" (click)="CloseAssignModal()">Close</button>
            <button type="button" class="btn btn-primary" (click)="AssignPackageSuppliers()" [disabled]="isAssigningSupplierList">
              <i  [ngClass]="isAssigningSupplierList ? 'fa-solid fa-circle-notch fa-spin' : ''"></i>
              Save</button>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- Email Modal -->
  <div class="modal fade" id="modalEmail" tabindex="-1" aria-labelledby="modalEmailLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEmailLabel">Send Email</h5>
          <button type="button" class="btn-close" (click)="CloseSendEmailModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 p-2">
              Select management list
              <div class="multi_default">
              <ng-select [items]="topManagementList"
              [searchable]="true"
              [(ngModel)]="selectedTopManagementList"
              
              [multiple]="true" bindLabel="userName">
                  <ng-template ng-optgroup-tmp let-item="item">
                      {{item.userName}}
                  </ng-template>
              </ng-select>
            </div>
            </div>
            <div class="col-sm-12 p-2">
              Attachement
              <input type="file" id="topManagementAttachement" name="topManagementAttachement"
               class="form-control" (change)="onFileSelect($event)">
            </div>
          </div>
         <!-- <div class="row">
            <div class="col-sm-12 p-2">
              <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
            </div>
          </div>   -->       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="CloseSendEmailModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="sendEmail()" [disabled]="sendingEmail">
            <i  [ngClass]="sendingEmail ? 'fa-solid fa-circle-notch fa-spin' : ''"></i>
            Send</button>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>