.lowest {
  background-color: green;
  color: white;
}

.percentage {
  width: 40%;
}

.customFooter {
  border: 0px;
}

/*th {
    background: white;
    position: sticky;
    top: 0;
    z-index: 999;
  }*/

.table-comparison {
  font-size: 12px;
}

.txt-NewItem {
  color: brown;
  /* background-color: rgb(226, 152, 158); */
}

.bg-acc {
  background-color: rgb(177, 216, 177);
}

.bg-NewItem {
  background-color: rgb(235, 216, 223);
}

.bg-AlternativeItem {
  background-color: rgb(174, 197, 228);
}

.table-container {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
}
.table-container table {
  width: 100%; /* Total table width, adjust as needed */
  border-collapse: collapse;
  table-layout: fixed; /* Ensures columns stay fixed */
  font-size: 12px !important;
}
.table-container table th,
td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tbody-wrapper {
  display: block;
  max-height: calc(100vh - 300px); /* Enables scrolling */
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.table-container table tbody {
  display: block; /* Allows tbody to take full width */
  width: 100%;
}

.table-container table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* Ensures alignment */
}
