<app-nav></app-nav>
<section>
    
    <nav aria-label="breadcrumb" class="p-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/package-list']">Package List</a></li>
            <li class="breadcrumb-item">Package Comparison</li>
            <li class="breadcrumb-item active" aria-current="page"><strong>{{packageName}}</strong></li>
        </ol>
      </nav>

      <div class="container-fluid">
              
      <div class="row p-2">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-3 form-group"><h5 style="display: inline-block;"><span> Search</span>&nbsp;
                    <span style="float: right; cursor: pointer;user-select: none;" (click)="toggleShow()">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" [checked]="isShown">
                          
                          </div>
                       
                    </span>
                                        
                  </h5></div>
                  <div class="col-sm-3 form-group"><h5 style="display: inline-block;"><span> By Group</span>&nbsp;
                    <span style="float: right; cursor: pointer;user-select: none;" (click)="showByGroup()">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" [checked]="byGroup">
                          
                          </div>
                       
                    </span>
                                        
                  </h5></div>
                  <!--<div class="col-sm-2 form-group">
                    <button class="btn btn-danger" (click)="generatePDF()" [disabled]="generatingFile">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="generatingFile"></span>
                      <span class="fa-solid fa-file-pdf"></span>
                      <span *ngIf="generatingFile">Generating...</span>
                      <span *ngIf="!generatingFile">Generate PDF</span>
                      </button>
                  </div>-->
                  <div class="col-sm-2 form-group">
                    <button class="btn btn-success" (click)="generateExcel()" [disabled]="generatingFile">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="generatingFile"></span>
                      <span class="fa-solid fa-file-excel"></span>
                      <span *ngIf="generatingFile"> Generating...</span>
                      <span *ngIf="!generatingFile"> Generate Excel</span>
                      </button>
                  </div>
                  <div class="col-sm-2 form-group">
                    <button type="button" class="btn btn-primary" style="float: right; width: 100%;"
                    (click)="openSendEmailModal()">Send Email</button>
                    
                  </div>
                  <div class="col-sm-2 form-group">
                    <button type="button" class="btn btn-secondary" style="float: right; width: 100%;"  (click)="openGenerateContract()"
                   >Generate Supplier Contract</button>
                  </div>     
              </div>
                  
              </div>
              <div class="card-body" *ngIf="isShown">
                  <div class="row">
                      
                      <div class="col-sm-3 p-2 form-group">
                          BOQ Div
                          <ng-select [items]="BOQDivList" 
                          bindLabel="sectionO" 
                          bindValue="sectionO" 
                          [placeholder]="'BOQ Div'"
                          [closeOnSelect]="true"
                          [multiple]="true"
                          [(ngModel)]="selectedBOQDivList"> <!--SearchInput.bOQDiv-->
                          <ng-template ng-header-tmp>

                              <div>
                                <button class="btn btn-link"
                                        (click)="onSelectAllBOQDiv()">Select All</button>
                                
                              </div>
                          
                          </ng-template>
                      </ng-select>
                         
                      
                      </div>
          
                      <div class="col-sm-2 p-2 form-group">
                          
                          <label>BOQ Item</label>
                                  
                          <input type="text" class="form-control" [(ngModel)]="SearchInput.bOQItem">
                
                      </div>
          
                      <div class="col-sm-3 p-2 form-group">
                          
                          <label>BOQ Desc</label>
                      
                          <input type="text" class="form-control" [(ngModel)]="SearchInput.bOQDesc">
                              
                      </div>
          
                      <div class="col-sm-2 p-2 form-group">
                          
                          <label>From Row</label>
                             
                          <input type="text" class="form-control" [(ngModel)]="SearchInput.fromRow">
                     
                         
                             
                      </div>
                      <div class="col-sm-2 p-2 form-group">
                          <label>To Row</label>
                     
                          <input type="text" class="form-control" [(ngModel)]="SearchInput.toRow">
                      </div>
                      </div>
                  <div class="row">
                      
                      <div class="col-sm-3 p-2 form-group">
                          Sheet Desc
                          <ng-select [items]="SheetDescList" 
                          bindLabel="obSheetDesc" 
                          bindValue="obSheetDesc" 
                          [placeholder]="'Sheet Desc'"
                          [closeOnSelect]="true"
                          [multiple]="true"
                          [(ngModel)]="selectedSheetDescList">
                          <ng-template ng-header-tmp>

                              <div>
                                <button class="btn btn-link"
                                        (click)="onSelectAllSheetDesc()">Select All</button>
                                
                              </div>
                          
                          </ng-template>
                      </ng-select>
          
                        
                    
                  </div>
                  <div class="col-sm-3 p-2 form-group">
                          
                      RES Div
                      <ng-select [items]="RESDivList" 
                      bindLabel="boqDiv" 
                      bindValue="boqDiv" 
                      [placeholder]="'RES Div'"
                      [closeOnSelect]="true"
                      [multiple]="true"
                      [(ngModel)]="selectedRESDivList">
                      <ng-template ng-header-tmp>

                          <div>
                            <button class="btn btn-link"
                                    (click)="onSelectAllRESDiv()">Select All</button>
                            
                          </div>
                      
                      </ng-template>
                  </ng-select>
          
                </div>
          
                <div class="col-sm-3 p-2 form-group">
                  RES Type
                  <ng-select [items]="RESTypeList" 
                  bindLabel="boqCtg" 
                  bindValue="boqCtg" 
                  [placeholder]="'RES Type'"
                  [closeOnSelect]="true"
                  [multiple]="true"
                  [(ngModel)]="selectedRESTypeList">
                  <ng-template ng-header-tmp>

                      <div>
                        <button class="btn btn-link"
                                (click)="onSelectAllRESType()">Select All</button>
                        
                      </div>
                  
                  </ng-template>
              </ng-select>
                                   
                </div>
          
                <div class="col-sm-3 p-2 form-group">
                   
                    <label>RES Desc</label>
                
                    <input type="text" class="form-control" [(ngModel)]="SearchInput.rESDesc">
                       
                </div>
                  </div>
                 
          
                 <hr>
          
                  <div class="row">
                      
                      <div class="col-sm-2 form-group">
                          <button type="button" class="btn btn-primary" [disabled]="searching" style="float: right; width: 100%;"
                              (click)="onSearch()">
                              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="searching"></span>
                              <span *ngIf="searching">Searching...</span>
                              <span *ngIf="!searching">Search</span>
                              </button>
                      </div>
                      
                     
                  </div>
          
              </div>
          </div>
          </div>
        </div>
        <div class="row p-2">
            <div class="col-sm-12 table-responsive">
                <table class="table table-comparison" *ngIf="!byBoq && comparisonList.length > 0 && !byGroup">
                    <thead>
                        <tr>
                          <th style="width:1%">
                            <input type="checkbox" id="selectAllResourcesByItem" (change)="selectAllItemsByResource($event.target)"></th>
                          <th>Select All</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td></td>
                            <td>
                              <table class="table">
                                <thead>
                                  <th><strong>Boq #</strong></th>
                                  <th><strong>Boq Item</strong></th>
                                </thead>
                                
                              </table>
                              
                            </td>
                          </tr>
                        <tr *ngFor="let item of comparisonList; let i = index">
                          <td>
                            <input type="checkbox" [checked]="item.isChecked" (change)="selectResourcesByItem($event, item)">
                            
                          </td>
                          
                          <td>
                            
                            <div class="p-2">{{item.itemO}}    -    {{item.descriptionO}}</div>
                            <div class="p-2">
                                <table class="table">
                                    <thead>
                                      <tr>
                                      <th></th>
                                      <th>Resource</th>
                                      <th>Unit</th>
                                      <th>Qty</th>
                                      <th>
                                        <table class="table table-bordered">
                                            <tr>
                                                <td colspan="2" class="text-center">
                                                   Budget
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                <td style="width:50%" class="text-center">U. Price</td>
                                                <td style="width:50%" class="text-center">T. Price</td>
                                            </tr> 
                                        </table>
                                      </th>
                                      <th *ngFor="let sup of item.groupingResources[0]?.groupingPackageSuppliersPrices">
                               
                                        <table class="table table-bordered">
                                            <tr>
                                                <td colspan="3" class="text-center">
                                                    {{sup.supplierName}} ({{sup.lastRevisionDate | date: 'dd/MM/yyyy'}})  
                                                    
                                                </td>
                                            </tr>
                                        <tr>
                                            <td style="width:33.33%" class="text-center">Qty</td>
                                            <td style="width:33.33%" class="text-center">U. Price</td>
                                            <td style="width:33.33%" class="text-center">T. Price</td>
                                        </tr>  
                                    </table>
                                    </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let resource of item.groupingResources; let j = index" [ngClass]="isAssigned(resource) ? 'bg-acc' : ''">
                                          <td style="width:1%">
                                            <input type="checkbox" [checked]="resource.isChecked" (change)="selectResource($event, resource, item)">
                                            <input type="hidden" [value]="resource.boqSeq">
                                          </td>
                                          <td>
                                            {{resource.resourceDescription}}
                                          </td>
                                       
                                          <td>
                                            {{resource.unit}}
                                           </td>
                                           <td>
                                            {{resource.qty | number : '1.2-2'}}
                                           </td>
                                           <td>
                                            <table class="table">
                                                <tr>
                                                    <td style="width:50%" class="text-center">
                                                        {{resource.unitPrice | number : '1.2-2'}}
                                                    </td>
                                                    <td style="width:50%" class="text-center">
                                                        {{resource.totalPrice | number : '1.2-2'}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>

                                        <td *ngFor="let sup of resource.groupingPackageSuppliersPrices">
                                            <table class="table">
                                            <tr>
                                               <td style="width:33.33%" class="text-center"> <span [ngClass]="sup.missedPrice == 1 ? 'text-danger' : ''">{{sup.assignedQty | number : '1.2-2'}}</span> 
                                                <i class="fas fa-flag text-success" title="Quantity Assigned" *ngIf="sup.assignedQty > 0"></i>
                                              </td>
                                               <td style="width:33.33%" class="text-center"> <span [ngClass]="sup.missedPrice == 1 ? 'text-danger' : ''">{{(sup.originalCurrencyPrice * sup.exchRateNow) | number : '1.2-2'}}</span></td> 
                                                <td style="width:33.33%" class="text-center"><span [ngClass]="sup.missedPrice == 1 ? 'text-danger' : ''">{{(sup.originalCurrencyPrice * resource.qty * sup.exchRateNow) | number : '1.2-2'}}</span> </td>
                                            </tr> 
                                        </table>
                                           
                                         </td>
                                         <td *ngIf="show && resource.isChecked" style="width:10%">
                                             <p *ngFor="let sup of resource.groupingPackageSuppliersPrices; let i = index">
                                               <label>Quantity {{ sup.supplierName}}</label>
                                               &nbsp; 
                                               <input class="form-control" type="number" [ngClass]="resource.validPerc? '' : 'border-danger'"
                                               (change)="setSupplierQty($event, resource, sup)"
                                               [value]="sup.assignedQty"/>
                                             </p>
                                           </td>
                                                     
                                        </tr>
                                      </tbody>
                                </table>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2">
                                <table class="table">
                                    <tr>
                                        <td style="width:43%"><strong>Sub-Total</strong></td>
                                        <td *ngFor="let p of packageSuppliersPrices">
                                            <table class="table">
                                                <tr>
                                                    <td colspan="2"></td>
                                                    <td style="width:33.33%" class="text-center">
                                                       <strong> {{p.totalprice | number : '1.2-2'}}</strong>
                                                    </td>
                                                </tr>
                                        </table>
                                        </td>
                                        
                                    </tr>
                            </table>
                            </td>
                            
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table class="table">
                                    <tr>
                                        <td style="width:52%"><strong>Additional Fees</strong></td>
                            
                            <td *ngFor="let supp of packageSuppliersPrices">
                                <table class="table" >
                                <tr *ngFor="let field of supp.fieldLists">
                                    <td colspan="2"></td>
                                    <td style="width:33.33%" class="text-center">
                                        <table class="table" *ngIf="field.type == fieldTypes.AMOUNT_TYPE_ID">
                                            <tr>
                                                <td class="text-center">{{field.label}}</td>
                                                <td class="text-center">{{field.value | number : '1.2-2'}}</td>
                                            </tr>
                                        </table>
                                        <table class="table" *ngIf="field.type == fieldTypes.PERCENTAGE_TYPE_ID">
                                            <tr>
                                                <td class="text-center">{{field.label}}</td>
                                                <td class="text-center">{{field.value | number : '1.2-2'}}%</td>
                                            </tr>
                                        </table>
                                    
                                    </td>
                                
                                </tr>
                                </table>
                            </td>
                                    </tr>
                                </table>
                                
                            </td>
                            
                                   
                            
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table class="table">
                                    <tr>
                                        <td style="width:43%">
                                        <table class="table">
                                          <tr>
                                            <td style="width:85%"><strong>Grand Total</strong></td>
                                            <td> <strong> {{getTotalBudget() | number : '1.2-2'}}</strong></td>
                                          </tr>
                                        </table>
                                        </td>
                                        <td *ngFor="let p of packageSuppliersPrices">
                                            <table class="table">
                                                <tr>
                                                    <td colspan="2">
                                                     
                                                    </td>
                                                  
                                                    <td style="width:33.33%" class="text-center">
                                                       <strong> {{p.totalNetPrice | number : '1.2-2'}}</strong>
                                                    </td>
                                                </tr>
                                        </table>
                                        </td>
                                        
                                    </tr>
                            </table>
                            </td>
                            
                        </tr>
                        <tr class="bg-secondary text-white">
                            <td [attr.colspan]="SupplierPackagesList.length + 4"><strong>Technical Conditions</strong></td>
                          </tr>
                          <tr>
                            <td [attr.colspan]="SupplierPackagesList.length + 4">
                              <table class="table table-bordered">
                              
                                    
                                <tr *ngFor="let cond of techConditionsReplies ;  let i = index">
                                  <td style="width:55%">{{cond.description}}</td>
                        
                                  <td *ngFor="let reply of cond.replies" style="width:30%">
                                    <table class="table">
                                      <tr>
                                        <td class="text-center"><strong>{{reply?.reply}}</strong></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                          </table>
                            </td>
                           
                          
                          </tr>
                          <tr class="bg-secondary text-white">
                            <td [attr.colspan]="SupplierPackagesList.length + 4"><strong>Commercial Conditions</strong></td>
                          </tr>
                          <tr>
                            <td [attr.colspan]="SupplierPackagesList.length + 4">
                              <table class="table table-bordered">
                              
                                    
                                <tr *ngFor="let cond of comConditionsReplies ;  let i = index">
                                  <td style="width:55%">{{cond.description}}</td>
                                  <td *ngFor="let reply of cond.replies"  style="width:30%">
                                    <table class="table">
                                      <tr>
                                        <td class="text-center"><strong>{{reply.reply}}</strong></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                          </table>
                            </td>
                           
                          
                          </tr>
                    </tfoot>
                </table>
                <table class="table table-comparison" *ngIf="byBoq && comparisonList.length > 0 && !byGroup">
                  
                      <thead>
                          <tr>
                            <th style="width:1%">
                                <input type="checkbox" id="selectAllBoqItems" (change)="selectAllBoqItems($event.target)">
                            </th>
                            <th>Boq #</th>
                            <th>Boq Item</th>
                            <th>Unit</th>
                            <th>Qty</th>
                              <th>
                                <table class="table table-bordered">
                                    <tr>
                                        <td colspan="2" class="text-center">
                                           Budget
                                        </td>
                                    </tr>
                                    <tr>
                                        
                                        <td style="width:50%" class="text-center">U. Price</td>
                                        <td style="width:50%" class="text-center">T. Price</td>
                                    </tr> 
                                </table>
                            </th>
                              <th *ngFor="let sup of comparisonList[0].groupingPackageSuppliersPrices">
                               
                                <table class="table table-bordered">
                                    <tr>
                                        <td colspan="3" class="text-center">
                                            {{sup.supplierName}} ({{sup.lastRevisionDate | date: 'dd/MM/yyyy'}})  
                                        </td>
                                    </tr>
                                <tr>
                                    <td style="width:33.33%" class="text-center">Qty</td>
                                    <td style="width:33.33%" class="text-center">U. Price</td>
                                    <td style="width:33.33%" class="text-center">T. Price</td>
                                </tr>  
                            </table>
                            </th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of comparisonList; let i = index">
                            <td style="width:1%">
                                <input type="checkbox" [checked]="item.isChecked" (change)="selectBoq($event, item)">
                                <input type="hidden" [value]="item.itemO">
                              </td>
                              <td>
                                {{item.itemO}}
                            </td>
                            <td style="width:20%">
                                {{item.descriptionO}}
                            </td>
                            <td>
                                {{item.unit}}
                            </td>
                            <td>
                                {{item.qty | number : '1.2-2'}}
                            </td>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td style="width:50%" class="text-center">
                                            {{item.unitPrice | number : '1.2-2'}}
                                        </td>
                                        <td style="width:50%" class="text-center">
                                            {{item.totalPrice | number : '1.2-2'}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td *ngFor="let sup of item.groupingPackageSuppliersPrices">
                                <table class="table">
                                <tr>
                                   <td style="width:33.33%" class="text-center"> <span [ngClass]="sup.missedPrice == 1 ? 'text-danger' : ''">{{sup.assignedQty | number : '1.2-2'}}</span> 
                                    <i class="fas fa-flag text-success" title="Quantity Assigned" *ngIf="sup.assignedQty > 0"></i>
                                  </td>
                                   <td style="width:33.33%" class="text-center"> <span [ngClass]="sup.missedPrice == 1 ? 'text-danger' : ''">{{(sup.originalCurrencyPrice * sup.exchRateNow) | number : '1.2-2'}}</span></td> 
                                    <td style="width:33.33%" class="text-center"><span [ngClass]="sup.missedPrice == 1 ? 'text-danger' : ''">{{(sup.originalCurrencyPrice * item.qty * sup.exchRateNow) | number : '1.2-2'}}</span> </td>
                                </tr> 
                            </table>
                               
                             </td>
                             <td *ngIf="show && item.isChecked" style="width:10%">
                                 <p *ngFor="let sup of item.groupingPackageSuppliersPrices; let i = index">
                                   <label>Quantity {{ sup.supplierName}}</label>
                                   &nbsp; 
                                   <input class="form-control" type="number" [ngClass]="item.validPerc? '' : 'border-danger'"
                                    (change)="setSupplierQtyByBoq($event, item, sup)"
                                   [value]="sup.assignedQty"/>
                                 </p>
                               </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                            <td colspan="6"><strong>Sub-Total</strong></td>
                            <td *ngFor="let p of packageSuppliersPrices" class="text-center">
                                <table class="table">
                                    <tr>
                                        <td colspan="2"></td>
                                        <td style="width:33.33%" class="text-center">
                                           <strong> {{p.totalprice | number : '1.2-2'}}</strong>
                                        </td>
                                    </tr>
                            </table>
                            </td>
                            
                        </tr>
                        <tr>
                            <td colspan="6"><strong>Additional Fees</strong></td>
                            
                            <td *ngFor="let supp of packageSuppliersPrices" class="text-center">
                                <table class="table" >
                                <tr *ngFor="let field of supp.fieldLists">
                                    <td colspan="2"></td>
                                    <td style="width:33.33%" class="text-center">
                                        <table class="table" *ngIf="field.type == fieldTypes.AMOUNT_TYPE_ID">
                                            <tr>
                                                <td class="text-center">{{field.label}}</td>
                                                <td class="text-center">{{field.value | number : '1.2-2'}}</td>
                                            </tr>
                                        </table>
                                        <table class="table" *ngIf="field.type == fieldTypes.PERCENTAGE_TYPE_ID">
                                            <tr>
                                                <td class="text-center">{{field.label}}</td>
                                                <td class="text-center">{{field.value | number : '1.2-2'}}%</td>
                                            </tr>
                                        </table>
                                    
                                    </td>
                                
                                </tr>
                                </table>
                            </td>
                                   
                            
                        </tr>
                        <tr>
                            <td colspan="5"><strong>Grand Total</strong></td>
                            <td class="text-center">
                              <strong> {{getTotalBudget() | number : '1.2-2'}}</strong>
                            </td>
                            <td *ngFor="let p of packageSuppliersPrices" class="text-center">
                                <table class="table">
                                    <tr>
                                        <td colspan="2"></td>
                                        <td style="width:33.33%" class="text-center">
                                           <strong> {{p.totalNetPrice | number : '1.2-2'}}</strong>
                                        </td>
                                    </tr>
                            </table>
                            </td>
                            
                        </tr>
                        <tr *ngIf="techConditionsReplies?.length > 0" class="bg-secondary text-white">
                            <td [attr.colspan]="SupplierPackagesList.length + 10"><strong>Technical Conditions</strong></td>
                        </tr>
                        <tr>
                         
                            <td [attr.colspan]="SupplierPackagesList.length + 10">
                              <table class="table table-bordered">
                              
                                    
                                <tr *ngFor="let cond of techConditionsReplies ;  let i = index">
                                  <td style="width:55%">{{cond.description}}</td>
                                  <td *ngFor="let reply of cond.replies" style="width:30%">
                                    <table class="table">
                                      <tr>
                                        <td class="text-center"><strong>{{reply.reply}}</strong></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                          </table>
                            </td>
                           
                          
                          </tr>
                        <tr *ngIf="comConditionsReplies.length > 0" class="bg-secondary text-white">
                            <td [attr.colspan]="SupplierPackagesList.length + 10"><strong>Commercial Conditions</strong></td>
                        </tr>
                        <tr>
                          
                            <td [attr.colspan]="packageSuppliersPrices.length + 10">
                              <table class="table table-bordered">
                              
                                    
                                <tr *ngFor="let cond of comConditionsReplies ;  let i = index">
                                  <td style="width:55%">{{cond.description}}</td>
                                  <td *ngFor="let reply of cond.replies"  style="width:30%">
                                    <table class="table">
                                      <tr>
                                        <td class="text-center"><strong>{{reply.reply}}</strong></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                          </table>
                            </td>
                           
                          
                          </tr>
                          
                      </tfoot>
                </table>
                <table class="table table-comparison" *ngIf="groupingBoqGroupList.length > 0 && byGroup">
                    <thead>
                        <tr>
                          <th style="width:1%">
                              <input type="checkbox" id="selectAllGroups" (change)="checkAllGroups($event)">
                          </th>
                          <th>Group</th>
                          <th>T. Price</th>
                          <th *ngFor="let sup of groupingBoqGroupList[0].groupingPackageSuppliersPrices">
                               
                            <table class="table table-bordered">
                                <tr>
                                    <td colspan="3" class="text-center">
                                        {{sup.supplierName}} ({{sup.lastRevisionDate | date: 'dd/MM/yyyy'}})  
                                    </td>
                                </tr>
                            <tr>
                                
                                <td style="width:33.33%" class="text-center">T. Price</td>
                            </tr>  
                        </table>
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of groupingBoqGroupList; let i = index">
                            <td style="width:1%">
                                <input type="checkbox" [checked]="item.isChecked" (change)="checkGroup($event, item)">
                                <input type="hidden" [value]="item.id">
                              </td>
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.totalPrice | number : '1.2-2'}}
                            </td>
                            <td *ngFor="let sup of item.groupingPackageSuppliersPrices">
                                <table class="table">
                                <tr>
                                   
                                    <td class="text-center"><span [ngClass]="sup.missedPrice == 1 ? 'text-danger' : ''">{{sup.totalPrice | number : '1.2-2'}}</span> 
                                     
                                    </td>
                                </tr> 
                            </table>
                               
                             </td>
                             <td *ngIf="show && item.isChecked" style="width:10%">
                                <p *ngFor="let sup of item.groupingPackageSuppliersPrices; let i = index">
                                  <label>Quantity {{ sup.supplierName}}</label>
                                  &nbsp; 
                                  <input class="form-control" type="number" [ngClass]="item.validPerc? '' : 'border-danger'"
                                  (change)="setSupplierGroupQty($event, item, sup)"
                                  [value]="sup.assignedQty"/>
                                </p>
                              </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"><strong>Sub-Total</strong></td>
                            <td *ngFor="let p of packageSuppliersPrices" class="text-center">
                                <table class="table">
                                    <tr>
                                        
                                        <td class="text-center">
                                           <strong> {{p.totalprice | number : '1.2-2'}}</strong>
                                        </td>
                                    </tr>
                            </table>
                            </td>
                            
                        </tr>
                        <tr>
                            <td colspan="3"><strong>Additional Fees</strong></td>
                            
                            <td *ngFor="let supp of packageSuppliersPrices" class="text-center">
                                <table class="table table-bordered" >
                                <tr *ngFor="let field of supp.fieldLists">
                                   
                                    <td class="text-center">
                                        <table class="table" *ngIf="field.type == fieldTypes.AMOUNT_TYPE_ID">
                                            <tr>
                                                <td class="text-center" style="width:50%"><strong>{{field.label}}</strong></td>
                                                <td class="text-center">{{field.value | number : '1.2-2'}}</td>
                                            </tr>
                                        </table>
                                        <table class="table" *ngIf="field.type == fieldTypes.PERCENTAGE_TYPE_ID">
                                            <tr>
                                                <td class="text-center" style="width:50%"><strong>{{field.label}}</strong></td>
                                                <td class="text-center">{{field.value | number : '1.2-2'}}%</td>
                                            </tr>
                                        </table>
                                    
                                    </td>
                                
                                </tr>
                                </table>
                            </td>
                                   
                            
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Grand Total</strong></td>
                            <td>
                              <strong> {{getTotalBudget() | number : '1.2-2'}}</strong>
                            </td>
                            <td *ngFor="let p of packageSuppliersPrices" class="text-center">
                                <table class="table">
                                    <tr>
                                        
                                        <td class="text-center">
                                           <strong> {{p.totalNetPrice | number : '1.2-2'}}</strong>
                                        </td>
                                    </tr>
                            </table>
                            </td>
                            
                        </tr>
                        <tr *ngIf="techConditionsReplies?.length > 0">
                            <td colspan="2"><strong>Technical Conditions</strong></td>
                         
                            <td [attr.colspan]="packageSuppliersPrices.length + 1">
                              <table class="table table-bordered">
                              
                                    
                                <tr *ngFor="let cond of techConditionsReplies ;  let i = index">
                                  <td style="width:20%"><strong>{{cond.description}}</strong></td>
                                  <ng-container *ngIf="cond.replies.length > 0">
                                    <td *ngFor="let reply of cond.replies">
                                        <table class="table">
                                          <tr>
                                            <td class="text-center">{{reply.reply}}</td>
                                          </tr>
                                        </table>
                                      </td>
                                  </ng-container>
                                  <ng-container *ngIf="cond.replies.length == 0">
                                    <td [attr.colspan]="packageSuppliersPrices.length">
                                        <table class="table">
                                          <tr>
                                            <td class="text-center">&nbsp;</td>
                                          </tr>
                                        </table>
                                      </td>
                                  </ng-container>
                                  
                                </tr>
                          </table>
                            </td>
                           
                          
                          </tr>
                        <tr *ngIf="comConditionsReplies.length > 0">
                            <td colspan="2"><strong>Commercial Conditions</strong></td>
                          
                            <td [attr.colspan]="packageSuppliersPrices.length + 1">
                              <table class="table table-bordered">
                              
                                    
                                <tr *ngFor="let cond of comConditionsReplies ;  let i = index">
                                  <td style="width:20%"><strong>{{cond.description}}</strong></td>
                                  <ng-container *ngIf="cond.replies.length > 0">
                                  <td *ngFor="let reply of cond.replies">
                                    <table class="table">
                                      <tr>
                                        <td class="text-center">{{reply.reply}}</td>
                                      </tr>
                                    </table>
                                  </td>
                                  </ng-container>
                                  <ng-container *ngIf="cond.replies.length == 0">
                                    <td [attr.colspan]="packageSuppliersPrices.length">
                                        <table class="table">
                                          <tr>
                                            <td class="text-center">&nbsp;</td>
                                          </tr>
                                        </table>
                                      </td>
                                  </ng-container>
                                </tr>
                          </table>
                            </td>
                           
                          
                          </tr>
                          
                      </tfoot>
                </table>
            </div>
        </div>
        <div class="row p-2" *ngIf="!show">
            <div class="col-4"></div>
            <div class="col-4">
              <button style="width: 100%;" type="button" class="btn btn-primary" (click)="OpenAssignInputs()" 
              [disabled]="selectedResources.length == 0 && selectedBoqItems.length == 0 && selectedGroups.length == 0">
                Assign Package By Quantity
              </button>
            </div>
            <div class="col-4">
              <button style="width: 100%;" type="button" class="btn btn-primary" (click)="OpenAssignModal()" 
              [disabled]="selectedResources.length == 0 && selectedBoqItems.length == 0 && selectedGroups.length == 0">
                Assign Package By Percentage
              </button>
            </div>
          </div>
          <div class="row p-2" *ngIf="show">
            <div class="col-8"></div>
            <div class="col-2">
              <button style="width: 100%;" type="button" class="btn btn-secondary" (click)="Cancel()" >
                Cancel
              </button>
            </div>
            <div class="col-2">
              <button style="width: 100%;" type="button" class="btn btn-primary" 
              [disabled]="isAssigningSupplierRessource || isAssigningSupplierBoq" (click)="saveByQty()">
                <span *ngIf="isAssigningSupplierRessource || isAssigningSupplierBoq" class="spinner-border spinner-border-sm mr-1"></span>
                Save
              </button>
            </div>
          </div>
    </div>

     <!-- Generate Supplier Contract Modal -->
  <div class="modal fade" id="generateContractModal" tabindex="-1" aria-labelledby="generateContractModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="generateContractModalLabel">Generate Supplier Contract</h5>
          <button type="button" class="btn-close" (click)="CloseContractModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 form-group">
              Select Supplier
              <ng-select [items]="supplierList"
              bindLabel="supName" [(ngModel)]="selectedSupplier">
                
              </ng-select>
            </div>
              
          </div>
          <div class="modal-footer customFooter">
            <button type="button" class="btn btn-secondary" (click)="CloseContractModal()">Close</button>
            <button type="button" class="btn btn-primary" (click)="generateSupplierContract()">
               
              Generate</button>
          </div>
        </div>
      </div>
    </div>

  </div>


     <!-- Assign Package Modal -->
  <div class="modal fade" id="assignPackageModal" tabindex="-1" aria-labelledby="assignPackageLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="assignPackageLabel">Assign Package by Percentage</h5>
          <button type="button" class="btn-close" (click)="CloseAssignModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">

            <table class="table">
              <thead>
                <tr>
                  <th scope="col" hidden="true">Supplier Id</th>
                  <th scope="col">Supplier Name</th>
                  <th class="percentage" scope="col">Percentage</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of SupplierPackagesList; let i = index">
                  <td hidden="true">{{item.psSuppId}}</td>
                  <td>{{item.psSupName}}</td>
                  <td><input type="number" class="form-control" id="valueInput{{i}}"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"></td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="modal-footer customFooter">
            <button type="button" class="btn btn-secondary" (click)="CloseAssignModal()">Close</button>
            <button type="button" class="btn btn-primary" (click)="AssignPackageSuppliers()" [disabled]="isAssigningSupplierList">
                <span *ngIf="isAssigningSupplierList" class="spinner-border spinner-border-sm mr-1"></span>
              Save</button>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- Email Modal -->
  <div class="modal fade" id="modalEmail" tabindex="-1" aria-labelledby="modalEmailLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEmailLabel">Send Email</h5>
          <button type="button" class="btn-close" (click)="CloseSendEmailModal()" aria-label="Close"></button>
        </div>
        <form [formGroup]="formEmailTemplate" (ngSubmit)="sendEmail()" *ngIf="formEmailTemplate">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 p-2">
              Select management list
              <div class="multi_default">
              <ng-select [items]="topManagementList"
              
              formControlName="selectedTopManagementList"
              [ngClass]="{ 'is-invalid': formEmailSubmitted && f.selectedTopManagementList.errors }"
              [multiple]="true" bindLabel="userName">
                  <ng-template ng-optgroup-tmp let-item="item">
                      {{item.userName}}
                  </ng-template>
              </ng-select>
              <div *ngIf="formEmailSubmitted && f.selectedTopManagementList.errors" class="invalid-feedback">
               
                <div *ngIf="f.selectedTopManagementList.errors.required">*Required</div>
                
            </div>
            </div>
            </div>
            <div class="col-sm-12 p-2">
              CC 
              <tag-input formControlName="listCC" [modelAsStrings]="true"></tag-input>
            </div>
            <div class="col-sm-12 p-2">
              Language
              <select class="form-select" formControlName="language" (change)="onLanguageChange($event)"
                [ngClass]="{ 'is-invalid': formEmailSubmitted && f.language.errors }">
                  <option></option>
                  <option *ngFor="let lan of languages" [value]="lan">{{lan}}</option>
                </select>
              <div *ngIf="formEmailSubmitted && f.language.errors" class="invalid-feedback">
                <div *ngIf="f.language.errors.required">*Required</div>
                
            </div>
            </div>
            <div class="col-sm-12 p-2">
              Template
              <angular-editor [config]="editorConfig" formControlName="template"></angular-editor>
              </div>
              <div class="col-sm-12 p-2">
                <button type="button" class="btn btn-secondary" (click)="addAttachement()" [disabled]="topManagementAttachements.length > maxAttachements">Add Attachement</button>
              </div>
            <div class="col-sm-12 p-2">
              
              <table class="table">
                <tbody>
                  <tr *ngFor="let attachement of topManagementAttachements; let i = index">
                    <td>
                      <input type="file" class="form-control" (change)="onFileSelect($event, i)">
                    </td>
                    <td>
                      <a class="btn btn-link" (click)="removeAttachement(i)"><i class="fas fa-times text-danger"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              
               
            </div>
          </div>
         <!-- <div class="row">
            <div class="col-sm-12 p-2">
              <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
            </div>
          </div>   -->       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="CloseSendEmailModal()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="sendingEmail">
            <i class="fa fa-spinner fa-spin" *ngIf="sendingEmail"></i>
            Send</button>
        </div>
      </form>
      </div>
    </div>

  </div>

    
</section>