<p>WBS-CSI List</p>

<app-nav></app-nav>
    <section>
    
        <nav aria-label="breadcrumb" class="p-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">WBS</li>
            </ol>
        </nav>
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-body table-responsive">
                        <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover">
                            <thead>
                                
                                <tr>
                                    <th scope="col">Division</th>
                                    <th scope="col">WBS Code</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let wbs of wbss; let i = index">
                                    <td>
                                        {{wbs.div}}
                                    </td>
                                    <td>
                                        {{wbs.wbsCode}}
                                    </td>
                                    <td>{{ wbs.wbsDesc }}</td>                                
                                </tr>
                            </tbody>
                        </table> -->
                    </div>
                </div>
            </div>
        </div>
    
    </section>
