th {
    background: white;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .full-width-field {
    width: 100%;
 }

 .mat-filter {
  
    height: 35px !important;

 }

 .input-icon {
   float: right;
   margin-right: 6px;
   margin-top: -25px;
   position: relative;
   z-index: 2;
  
}

.mat-progress-spinner {
   display: inline-block;
   vertical-align: middle;
 }

 /* ::ng-deep mat-autocomplete {
   width: fit-content !important;
} */

/* ::ng-deep .cdk-overlay-pane {
   width: auto !important;
} */

.selected-input {
   color: red !important;
}

/*::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex 
{
   background-color: rgb(243, 202, 202) !important;
}*/

::ng-deep .mat-select-value {
   color: red !important;
}

/* 

 ::ng-deep .mat-form-field-infix {
   width: auto !important;
   min-width: 180px !important;
   padding-right: 13px !important;
 } 
 */

 ::ng-deep .mat-select-value {
   max-width: 100%;
   min-width: 100%;
   font-size: 13px;
 }

 .small-height-input{
   max-height: 6px; 
   border-radius: 4px;
   font-size: 9px !important; 
   .mat-input-element{ 
     font-size: 12px !important;  
   }
 }

 ::ng-deep .dataTables_empty{
   display: none
   }