th {
    background: white;
    position: sticky;
    top: 0;
  }

.mat-progress-spinner {
   display: inline-block;
   vertical-align: middle;
 }

 /* ::ng-deep mat-autocomplete {
   width: fit-content !important;
} */

/* ::ng-deep .cdk-overlay-pane {
   width: auto !important;
} */

.selected-input {
   color: red !important;
}

/*::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex 
{
   background-color: rgb(243, 202, 202) !important;
}*/

::ng-deep .mat-select-value {
   color: red !important;
}

/* 

 ::ng-deep .mat-form-field-infix {
   width: auto !important;
   min-width: 180px !important;
   padding-right: 13px !important;
 } 
 */

 ::ng-deep .mat-select-value {
   max-width: 100%;
   min-width: 100%;
   font-size: 13px;
 }

 .small-height-input{
   max-height: 6px; 
   border-radius: 4px;
   font-size: 9px !important; 
   .mat-input-element{ 
     font-size: 12px !important;  
   }
 }

 ::ng-deep .dataTables_empty{
   display: none
   }

   .small-placeholder::placeholder {
    font-size: 11px;
  }
  
  .small-placeholder {
    font-size: 11px;
  }

  /* Browser compatibility */
  .small-placeholder::-webkit-input-placeholder {
    font-size: 11px;
  }
  
  .small-placeholder:-ms-input-placeholder {
    font-size: 11px;
  }

    .vo-items {
      background-color: #fff3cd;
      /* أصفر فاتح */
      font-weight: 600;
      /* border-left: 4px solid #ffc107; */
    }
  
    .vo-label {
      padding-top: 1px;
    }

 
 