<app-nav></app-nav>
<section  >

    <!-- <nav aria-label="breadcrumb" class="p-2" style="height: 32px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Assign Packages</li>
        </ol>
    </nav> -->
    <div class="container-fluid" >
        <div class="row p-4"  style="height: 60px;"  >
            <!-- <div class="col-sm-2 form-group">
                <button type="button" class="btn btn-primary" [disabled]="isSearching"
                    style="float: right; width: 100%;font-size: small" (click)="onSearch()">
                    <i class="fa fa-spinner fa-spin" *ngIf="isSearching"></i>
                    Search</button>

            </div> -->
            <div class="col-sm-1 form-group" *ngIf="1>2">
                <button type="button" class="btn btn-primary" style="float: right; width: 100%;font-size: small;"
                    (click)="clearAllSearch()">Clear Search</button>
            </div>
            <div class="col-sm-2 form-group">
                <button type="button" class="btn btn-danger" style="float: right; width: 100%;font-size: small"
                    (click)="clearAllSelections()" [disabled]="SelectedOriginalBoqList.length == 0">Clear All
                    Selections</button>
            </div>
            <div class="col-sm-2 form-group">
                <button class="btn btn-success" (click)="ExportExcelBoq()"
                    style="font-size: small;">
                    <i  [ngClass]="isExportExcel ? 'fa-solid fa-circle-notch fa-spin' : ''"></i>
                    <!-- <i class="fa fa-spinner fa-spin" *ngIf="isSearching"></i> -->
                    Export Searched Ressources
                </button>
                <!-- [disabled]="isSearching" -->
            </div>
            <div class="col-sm-2 form-group">
                <button class="btn btn-success" (click)="ExportExcelPackagesCost(0)"
                    style="width: 200px;font-size:small;">
                    <i  [ngClass]="isExportExcelDry ? 'fa-solid fa-circle-notch fa-spin' : ''"></i>
                    Export Packages Dry Cost
                </button>
            </div>
            <div class="col-sm-3 form-group">
                <button class="btn btn-success" (click)="ExportExcelPackagesCost(1)"
                    style="width: 250px;font-size: small;">
                    <i  [ngClass]="isExportExcelDryBoq ? 'fa-solid fa-circle-notch fa-spin' : ''"></i>
                    Export Packages Cost with BOQ
                </button>
            </div>
            <div class="col-sm-3 form-group">
                <button class="btn btn-success" (click)="ExportNotAssigned()"
                    style="font-size: small;">
                    <i  [ngClass]="isExportExcelNotAssigned ? 'fa-solid fa-circle-notch fa-spin' : ''"></i>
                    Export Not Assigned Items
                </button>
                <!-- [disabled]="isSearching" -->
            </div>
        </div>
        

       
        <div class="row" >
            <div class="col-12">
                <div class="card">
                    <div class="card-header"  style="height: 30px;">
                        
                        <span style="float: left; cursor: pointer;user-select: none;" (click)="toggleAssignShow()">show
                            /
                            hide</span>

                           <span style="float: right">  <h6 style="display: inline-block"><b>Assign Packages</b></h6></span>
                    </div>
                    <div class="card-body" *ngIf="isAssignShown">
                        <div class="row" style="height: 35px;">
                            <div class="col-sm-4 form-group">
                                <!--<label>Package</label>
                        
                            <ng-select2 [(ngModel)]="SelectedPackage" width="100%" [allowClear]="true" [placeholder]="" *ngIf="PackageList"
                            (ngModelChange)="onPackageSelected($event)">
                                <option value="" selected></option>
                                <option *ngFor="let pitem of PackageList" [ngValue]="pitem.idPkge">{{ pitem.pkgeName }}
                                </option>
                            </ng-select2>-->

                            <!-- appearance="fill" -->
                                <mat-form-field  class="full-width-field"  style="width: 100%;font-size:11px;">
                                    <mat-label style="font-size:14px;">Packages</mat-label>

                                    
                                    <mat-select style="font-size:12px;" [(ngModel)]="SelectedPackage" (selectionChange)="onPackageMatSelected($event)">                                                                      
                                        
                                        <input matInput type="text" focused="'true'" (keyup)="filterPackages($event)" (keydown)="$event.stopPropagation()" class="mat-filter">
                                        <span class="fa fa-search input-icon"></span>
                                        
                                        <mat-divider></mat-divider>
                                        <mat-option></mat-option>
                                        <mat-option style="font-size:14px;" *ngFor="let pitem of selectedPackages" [value]="pitem.idPkge">{{pitem.pkgeName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>


                                                     
                            </div>                       
                            <!-- <div class="col-sm-6 form-group">
                                <form [formGroup]="formTrade">
                                     <label>Trade Description</label> 
                                    <input type="text" formControlName="tradeDesc" class="form-control" placeholder="Trade Description">
                                </form>
                            </div> -->
                        <!-- </div> -->

                        <!-- <hr> -->

                        <!-- <div class="row" style="height: 30px;"> -->
                            <div class="col-sm-2 form-group">
                                <button [disabled]="isAssigning" type="button" class="btn btn-primary"
                                    style="float: right; width: 100%;font-size: small"
                                    [disabled]="(SelectedOriginalBoqList.length == 0 && SelectedBoqList.length == 0) || this.SelectedPackage==0"
                                    (click)="AssignPackages()">
                                    <span *ngIf="isAssigning" class="spinner-border spinner-border-sm mr-1"></span>
                                    Assign Package
                                </button>
                            </div>

                            <div class="col-sm-2 form-group">
                                <button style="float: right; width: 100%;font-size: small"type="button" class="btn btn-success"
                                    [disabled]="this.SelectedPackage==0 || this.SelectedPackage == null" (click)="validateExcelBeforeAssign()">
                                    <!-- <div class="col-sm-3 form-group" *ngIf="FilePath == null"> 
                                  <button style="width: 100%;" type="button" class="btn btn-success"
                                [disabled]="(FilePath != null || isValidatingExcel)"
                                (click)="validateExcelBeforeAssign()"> -->
                                <span *ngIf="isValidatingExcel" class="spinner-border spinner-border-sm mr-1"></span>
                                Validate Excel</button>
                            </div>

                            <!-- <div class="col-sm-2 form-group">
                                <button style="float: right; width: 100%;font-size: small"type="button" class="btn btn-success"
                                (click)="TestSendMail()">                              
                                Test Email</button>
                            </div>  -->

                            <div class="col-sm-2 form-group form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" style="font-size: 12px;"
                                    name="flexSwitchCheckDefault" [checked]="assignByBoqOnly == '1'"
                                    (change)="flexSwitchCheckDefaultChange($event)">
                                <label class="form-check-label" for="flexSwitchCheckDefault">By Boq Item Only</label>
                            </div>


                            <!-- <div class="col-sm-6 form-group">
                                <button type="button" class="btn btn-secondary" style="float: right; width: 100%;"
                                    (click)="updateBoqTradeDescription()">
                                    <span *ngIf="isAssigning" class="spinner-border spinner-border-sm mr-1"></span>
                                    Update Trade Description
                                </button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <mat-progress-bar mode="indeterminate" *ngIf="isSearching"></mat-progress-bar>
                        <table id="originalBOQTable"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="row-border hover" style="font-size:smaller;">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 3%;">
                                        <input type="checkbox" [(ngModel)]="checkboxesAll" class="form-check-input" *ngIf="OriginalBoqList.length > 0"
                                            (change)="checkAllOriginalBoq2($event)">
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col">Row#</th>
                                    <th scope="col">Div</th>
                                    <th scope="col">BOQ Item</th>
                                    <th scope="col" style="width: 30%;">BOQ Description</th>
                                    <!-- <th scope="col">Trade Description</th> -->
                                    <th scope="col" class="text-center">Unit</th>
                                    <th scope="col" class="text-center">Bill Qty</th>
                                    <th scope="col" class="text-center">Final Qty</th>
                                    <th scope="col" class="text-center">RFQ. Qty</th>
                                    <th scope="col"></th>
                                    <th scope="col" class="text-center">Unit Price</th>
                                    <th scope="col" class="text-center">Final Total ({{boqFinalTotal | number: '1.0-0'}})</th>
                                    <th scope="col">Assigned Package</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                           
                            <!--<tbody *ngIf="isSearching && OriginalBoqList.length == 0">
                                <tr>
                                    <td colspan="15" style="text-align: center;">
                                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                                    </td>
                                </tr>
                            </tbody>-->
                            <tbody>
                                <!-- <tr *ngFor="let item of OriginalBoqList ; let i = index" style="cursor: pointer;"
                                     [ngClass]="{'HighlightedRow': i === CurrentRowIndex }" (click)="selectRow($event, i)"> -->
                                 <tr *ngFor="let item of OriginalBoqList ; let i = index" style="cursor: pointer;"
                                     [ngClass]="{'HighlightedRow': i === CurrentRowIndex }" (click)="selectRow($event, i)" >
                                    <td style="width: 3%;"><input disabled #checkboxes class="form-check-input" style="cursor: pointer;" 
                                        type="checkbox" [checked]="item.isSelected" (change)="selectRow($event, i)"></td>
                                    <!-- <td><input #checkboxes class="form-check-input" style="cursor: pointer;" type="checkbox" [checked]="item.isSelected"></td> -->
                                    <td style="width:3%;"><a class="btn btn-link" title="Dtl"
                                        (click)="editOriginalBoqQty(DtlBoqModal,item)" ><i class="fa-solid fa-circle-info"></i></a></td>
                                    <td style="width:3%;">{{item.rowNumber}}</td>
                                    <td style="width:3%;">{{item.sectionO}}</td>
                                    <td style="width:15%;">{{item.itemO}}</td>
                                    <td style="width:30%;">{{item.descriptionO}}</td>
                                    <!-- <td>{{item.obTradeDesc}}</td> -->
                                    <td class="text-center">{{item.unitO}}</td>
                                    <td class="text-center">{{item.billQtyO | number: '1.0-2' }}</td>
                                    <td class="text-center">{{item.qtyO | number: '1.0-2' }}</td>
                                    <td class="text-center">{{item.scopeQtyO | number: '1.0-2' }}</td>
                                    <td><a class="btn btn-link" title="Edit"
                                    (click)="editOriginalBoqQty(editModal,item)"><i class="fa-solid fa-edit"></i></a></td>
                                    <td class="text-center">{{item.unitRateO | number: '1.0-2' }}</td>
                                    <td class="text-center">{{(item.unitRateO * item.qtyO) | number: '1.0-0' }}</td>
                                    <td [ngClass]="item.assignedPackage != '' ? 'text-danger' : ''">{{item.assignedPackage}}</td>
                                    <td [ngClass]="item.boqStatus != '' ? 'text-danger' : ''"> {{item.boqStatus}}</td>
                                    <td> </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <br>
        
        <div class="row">
            <div class="col-lg-12">
                <app-boq-list-table #boqListTable (selectBoqEvent)="onSelectBoqOnTable($event)" (editQtyEvent)="openQtyEditModal($event)"></app-boq-list-table>
            </div>
        </div>
    </div>


        <!--BOQ Details Modal-->
        <ng-template #DtlBoqModal let-modal>
            <form [formGroup]="formEdit">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">BOQ Details ...</h4>
                    <!-- <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
    
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group p-1">
                            <ng-container>
                                <strong>L2 :</strong>{{SelectedOriginalBoqRow.l2}}
                            </ng-container>
                        </div>
                        <div class="form-group p-1">
                            <ng-container>
                                <strong>L3 :</strong>{{SelectedOriginalBoqRow.l3}}
                            </ng-container>
                        </div>
                        <div class="form-group p-1">
                            <ng-container>
                                <strong>L4 :</strong>{{SelectedOriginalBoqRow.l4}}
                            </ng-container>
                        </div>
                        <div class="form-group p-1">
                            <ng-container>
                                <strong>C1 :</strong>{{SelectedOriginalBoqRow.c1}}
                            </ng-container>
                        </div>
                        <div class="form-group p-1">
                            <ng-container>
                                <strong>C2 :</strong>{{SelectedOriginalBoqRow.c2}}
                            </ng-container>
                        </div>
                        <div class="form-group p-1">
                            <ng-container>
                                <strong>C3 :</strong>{{SelectedOriginalBoqRow.c3}}
                            </ng-container>
                        </div>
                        <div class="form-group p-1">
                            <ng-container>
                                <strong>C4 :</strong>{{SelectedOriginalBoqRow.c4}}
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Close</button>
                </div>
            </form>
        </ng-template>

    <!--Edit Original BOQ Modal-->
    <ng-template #editModal let-modal>
        <form [formGroup]="formEdit" (ngSubmit)="onEditSubmit(true)">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Edit Qty</h4>
                <!-- <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="form-group p-2">
                        <label>Bill Qty</label>
                        <br>
                        <ng-container>
                            <strong>{{SelectedOriginalBoqRow.billQtyO | number: '.2'}}</strong>
                        </ng-container>

                        <!-- <label type="number" class="form-control" formControlName="userName"
                [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"  >
                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                    <div *ngIf="f.userName.errors?.required">Username is required</div>
                </div> -->
                    </div>
                    <div class="form-group p-2">
                        <label>Final Qty</label>
                        <br>
                        <ng-container>
                            <strong>{{SelectedOriginalBoqRow.qtyO | number: '.2'}}</strong>
                        </ng-container>
                    </div>
                    <div class="form-group p-2">
                        <label>Qty</label>
                        <input type="number" class="form-control" formControlName="QtyScope"
                            [ngClass]="{ 'is-invalid': submitted && f.QtyScope.errors  || (f.QtyScope.value > SelectedOriginalBoqRow.qtyO )}">
                        <div *ngIf="submitted && f.QtyScope.errors || (f.QtyScope.value > SelectedOriginalBoqRow.qtyO ) "
                            class="invalid-feedback">
                            <div *ngIf="f.QtyScope.errors?.required">Qty is required</div>
                            <div *ngIf="f.QtyScope.value > SelectedOriginalBoqRow.qtyO">Invalid Qty</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <ng-container *ngIf="f.QtyScope.value <= SelectedOriginalBoqRow.qtyO">
                    <button type="submit" class="btn btn-primary" [disabled]="updating">
                        <span *ngIf="updating" class="spinner-border spinner-border-sm mr-1"></span>Update</button>
                </ng-container>
                <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Close</button>
            </div>
        </form>
    </ng-template>

    <!--Edit BOQ Resssources Modal-->
    <ng-template #editRessourcesModal let-modal>
        <form [formGroup]="formEdit" (ngSubmit)="onEditSubmit(false)">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Edit Qty</h4>
                <!-- <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="form-group p-2">
                        <label>Bill Qty</label>
                        <br>
                        <ng-container>
                            <strong>{{SelectedBoqRow.boqBillQty | number: '.2'}}</strong>
                        </ng-container>

                        <!-- <label type="number" class="form-control" formControlName="userName"
                [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"  >
                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                    <div *ngIf="f.userName.errors?.required">Username is required</div>
                </div> -->
                    </div>
                    <div class="form-group p-2">
                        <label>Final Qty</label>
                        <br>
                        <ng-container>
                            <strong>{{SelectedBoqRow.boqQty | number: '.2'}}</strong>
                        </ng-container>
                    </div>
                    <div class="form-group p-2">
                        <label>Qty</label>
                        <input type="number" class="form-control" formControlName="QtyScope"
                            [ngClass]="{ 'is-invalid': submitted && f.QtyScope.errors  || (f.QtyScope.value > SelectedBoqRow.boqQty )}">
                        <div *ngIf="submitted && f.QtyScope.errors || (f.QtyScope.value > SelectedBoqRow.boqQty ) "
                            class="invalid-feedback">
                            <div *ngIf="f.QtyScope.errors?.required">Qty is required</div>
                            <div *ngIf="f.QtyScope.value > SelectedBoqRow.boqQty">Invalid Qty</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <ng-container *ngIf="f.QtyScope.value <= SelectedBoqRow.boqQty">
                    <button type="submit" class="btn btn-primary" [disabled]="updating">
                        <span *ngIf="updating" class="spinner-border spinner-border-sm mr-1"></span>Update</button>
                </ng-container>
                <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Cancel</button>
            </div>
        </form>
    </ng-template>

    <app-assign-package-filter #assignPackageFilter (searchEvent)="searchFromDrawer($event)" (clearEvent)="clearFilter($event)"></app-assign-package-filter>
</section>

