/* You can add global styles to this file, and also import other style files */
/*@import "~@ng-select/ng-select/themes/material.theme.css";*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

.my-first-scrollbar-table {
    position: relative;
    height: auto;
    max-height: 400px;
    overflow: auto;
    }

.my-second-scrollbar-table {
    position: relative;
    height: auto;
    max-height: 400px;
    overflow: auto;
    }

.table-wrapper-scroll-y {
    display: block;
    }

select {
    cursor: pointer;
}

.HighlightedRow{ background-color: #F0F8FF; }

html, body { max-height: calc(100vh - 100px); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hiddenRow {
    padding: 0 !important;
}

section {
    margin-top: 20px;
}

.full-width-field {
    width: 100%;
 }

 .input-icon {
    float: right;
    margin-right: 2px;
    margin-top: -10px;
    position: relative;
    z-index: 2;
   
 }

 .mat-form-field{
    font-size: 13px;
 }

 .mat-option
 {
    font-size: 13px;
 }

 .mat-filter {
    height: 35px !important;
 }

 .customClass {
    margin-top: 30px;
  }