:host {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }
  
  app-scroll-container {
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  app-scroll-container.full {
    flex-basis: auto;
  }
  
  app-scroll-container.part {
    flex-basis: 200px;
  }
  
  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
  }
  

  .mat-header-cell {
    font-size: 14px;
    font-weight: 700;
    color : #000000;
}

.mat-column-select {
  flex: none;
  width : 3% !important;
}

.mat-column-boqCtg {
  flex: none;
  width : 3% !important;
}

.mat-column-boqUnitMesure {
  flex: none;
  width : 3% !important;
}

.mat-header-cell {
  text-align: center;
  justify-content:center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.vo-items {
  background-color: #fff3cd;
  /* أصفر فاتح */
  font-weight: 600;
  /* border-left: 4px solid #ffc107; */
}

.items-Inserted-Vd {
  background-color: aquamarine;
  /* border-left: 5px solid #198754; */
  font-weight: 700;
}

.vo-items-external {
  background-color: #c6e053;
  /* border-left: 4px solid #dc3545; */
  font-weight: 600;
}

.vo-items-local {
  background-color: #fff3cd;
  /* border-left: 4px solid #0d6efd; */
  font-weight: 600;
}
