<app-scroll-container
  [more]="hasMore()"
  [scrollOffset]="2500"
  [scrollDelay]="1000"
  (scrolled)="handleScroll($event)"
  [class.full]="full"
  [class.part]="!full"
>
  <mat-table [dataSource]="dataSource" *ngIf="dataSource?.filteredData.length > 0">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <input class="form-check-input" style="cursor: pointer;" [checked]="allChecked" type="checkbox" (change)="checkAll($event)">
      </mat-header-cell>
      <mat-cell *matCellDef="let item; let i = index">
        <input class="form-check-input" style="cursor: pointer;" type="checkbox" [checked]="item.isSelected" (change)="OnBoqChecked($event , i)">
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="boqItem">
      <mat-header-cell *matHeaderCellDef>
        BOQ
      </mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.boqItem }}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="boqDiv">
      <mat-header-cell *matHeaderCellDef>
        Div
      </mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.boqDiv }}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="boqCtg">
      <mat-header-cell *matHeaderCellDef>
        Type
      </mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.boqCtg }}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="resDescription" style="width: 200px;">
      <mat-header-cell *matHeaderCellDef  style="width: 200px;">
        Resource Description
      </mat-header-cell>
      <mat-cell *matCellDef="let item" style="width: 200px;">{{ item.resDescription }}</mat-cell>
      <mat-footer-cell *matFooterCellDef style="width: 200px;"></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="boqUnitMesure">
      <mat-header-cell *matHeaderCellDef>
        Unit
      </mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.boqUnitMesure }}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="boqBillQty">
      <mat-header-cell *matHeaderCellDef>
        Bill Qty
      </mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.boqBillQty | number: '1.0-2' }}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="boqQty">
      <mat-header-cell *matHeaderCellDef>
        Final Qty
      </mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.boqQty | number: '1.0-2' }}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="boqScopeQty">
      <mat-header-cell *matHeaderCellDef>
        RFQ. Qty
      </mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.boqScopeQty | number: '1.0-2' }} 
        <a class="btn btn-link p-2" title="Edit" (click)="editQty(item)" *ngIf="item.isSelected"><i class="fa fa-edit"></i></a>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="boqUprice">
      <mat-header-cell *matHeaderCellDef>
        Unit Price
      </mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.boqUprice | number: '1.0-2' }}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="finalNetAmount">
      <mat-header-cell *matHeaderCellDef>
        Final Net Amount ({{finalTotalPrice | number: '1.0-0' }})
      </mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.boqScopeQty * item.boqUprice | number: '1.0-0' }}</mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <span class="fw-bolder">{{finalTotalPrice | number: '1.0-0' }}</span>
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="totalUnitPrice">
      <mat-header-cell *matHeaderCellDef>
        Total Unit Price
      </mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.totalUnitPrice | number: '1.0-2' }}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="assignedPackage">
      <mat-header-cell *matHeaderCellDef>
        Assigned Package
      </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <span [ngClass]="item.assignedPackage != '' ? 'text-danger' : ''">{{item.assignedPackage}}</span>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true">
    </mat-header-row>
    <mat-footer-row *matFooterRowDef="displayedColumns">

    </mat-footer-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    
  </mat-table>
  <div *ngIf="!dataSource || dataSource?.filteredData.length === 0" class="p-3 text-center">
    <h5>No items selected</h5>
  </div>

</app-scroll-container>

