<app-nav></app-nav>
<section>
  <nav aria-label="breadcrumb" class="p-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/package-list']">Packages List</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a
          style="color:#0d6efd; cursor: pointer; text-decoration: underline;" (click)="goBack()">{{packageName}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><strong>Revision Details</strong></li>

    </ol>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 card">
        <div class="card-header">

          <h3 *ngIf="supplierPackage && Revision">Supplier {{supplierPackage.psSupName}} | Revision {{Revision.prRevNo}}
            | {{Revision.prRevDate | date:'dd-MM-YYYY'}}</h3>
          
            <div class="row">
            <div class="col-sm-3 form-group p-2">
              <label>Item</label>
              <input type="text" class="form-control" id="filterItemDesc">
            </div>
            <div class="col-sm-3 form-group p-2" [ngStyle]="{'display': (psByBoq == 0) ? 'block' : 'none'}">
              <label>Resource</label>
              <input type="text" class="form-control" id="filterResource">
            </div>
            <div class="col-sm-3 form-group p-2">
              <br>
              <button class="btn btn-primary" (click)="searchRevDetails()">Search</button>
            </div>
            <div class="col-sm-3 form-group p-2">
              <br>
              <button class="btn btn-secondary" (click)="goBack()">Back to Package Supplier</button>
            </div>
          </div>
        </div>
        
        <div class="card" *ngFor="let level of CurrentLevelList" 
          infinite-scroll
          [infiniteScrollDistance]="modalScrollDistance"
          [infiniteScrollThrottle]="modalScrollThrottle" (scrolled)="onScroll()">
          <div class="card-header">
             <span [innerHTML]="getSplittedLevelName(level.levelName)" *ngIf="level.levelName"></span>
             <span *ngIf="!level.levelName">From Drawing</span>
          </div>
          <div class="card-body" *ngIf="psByBoq == 1">
             <table class="display table table-bordered" *ngIf="level.items.length > 0">
                <tr>
                    <th>BOQ</th>
                    <th>Item Description</th>
                    <th>Alternative</th>
                    <th>New</th>
                    <th>ACC Qty</th>
                    <th>Supp Qty</th>
                    <th>U. Price</th>
                    <th>Discount %</th>
                    <th>Final U. Price</th>
                    <th>Total Price</th>
                    <th>Comments</th>
                </tr>
                <tr *ngFor="let item of level.items; let i = index" [ngStyle]="{'background-color': item.isAlternative ? '#0c74784d' : (item.isNew ? '#bfa6544d' : null) }">
                  <td>{{item.rdBoqItem}}</td>
                  <td>{{item.rdItemDescription}}</td>
                  <td><i class="fa fa-check" *ngIf="item.isAlternative"></i></td>
                  <td><i class="fa fa-check" *ngIf="item.isNew"></i></td>
                  <td>{{item.rdQuotationQty | number : '1.0-2' }}</td>
                  <td>{{item.rdQty | number : '1.0-2' }}</td>
                  <td>{{item.rdPrice | number : '1.0-2' }}</td>
                  <td>{{item.rdDiscount | number : '1.0-2' }}</td>
                  <td>{{item.rdPriceAfterDiscount | number : '1.0-2'}}</td>
                  <td>{{item.rdTotalPrice | number : '1.0-0'}}</td>
                  <td>{{item.comments}}</td>
                </tr>
            </table>
          </div>
          <div class="card-body" *ngIf="psByBoq == 0">
            <table class="display table table-bordered" *ngIf="level.items.length > 0">
              <tr>
                <th>BOQ</th>
                <th>Item Description</th>
                <th>Resource Desc.</th>
                <th>Alternative</th>
                <th>New</th>
                <th>ACC Qty</th>
                <th>Supp Qty</th>
                <th>U. Price</th>
                <th>Discount %</th>
                <th>Final U. Price</th>
                <th>Total Price</th>
                <th>Comment</th>
              </tr>
              <tr *ngFor="let item of level.items; let i = index" [ngStyle]="{'background-color': item.isAlternative ? '#0c74784d' : (item.isNew ? '#bfa6544d' : null) }">
                <td>{{item.rdBoqItem}}</td>
                <td>{{item.rdBoqItemDescription}}</td>
                <td>{{item.rdItemDescription}}</td>
                <td><i class="fa fa-check" *ngIf="item.isAlternative"></i></td>
                <td><i class="fa fa-check" *ngIf="item.isNew"></i></td>
                <td>{{item.rdQuotationQty | number : '1.0-2' }}</td>
                <td>{{item.rdQty | number : '1.0-2'}}</td>
                <td>{{item.rdPrice | number : '1.0-2' }}</td>
                <td>{{item.rdDiscount | number : '1.0-2' }}</td>
                <td>{{item.rdPriceAfterDiscount | number : '1.0-2'}}</td>
                <td>{{item.rdTotalPrice | number : '1.0-0'}}</td>
                <td>{{item.comments}}</td>
              </tr>
          </table>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>