<app-nav></app-nav>
<section>
  <nav aria-label="breadcrumb" class="p-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/package-list']">Packages List</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a
          style="color:#0d6efd; cursor: pointer; text-decoration: underline;" (click)="goBack()">{{packageName}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><strong>Revision Details</strong></li>

    </ol>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 card">
        <div class="card-header">

          <h3 *ngIf="supplierPackage && Revision">Supplier {{supplierPackage.psSupName}} | Revision {{Revision.prRevNo}}
            | {{Revision.prRevDate | date:'dd-MM-YYYY'}}</h3>
          
            <div class="row">
            <div class="col-sm-3 form-group p-2">
              <label>Item</label>
              <input type="text" class="form-control" id="filterItemDesc">
            </div>
            <div class="col-sm-3 form-group p-2" [ngStyle]="{'display': (psByBoq == 0) ? 'block' : 'none'}">
              <label>Resource</label>
              <input type="text" class="form-control" id="filterResource">
            </div>
            <div class="col-sm-3 form-group p-2">
              <br>
              <button class="btn btn-primary" (click)="searchRevDetails()">Search</button>
            </div>
            <div class="col-sm-3 form-group p-2">
              <br>
              <button class="btn btn-primary" (click)="goBack()">Back to Package Supplier</button>
            </div>
          </div>
        </div>
        
        <div class="card" *ngFor="let level of CurrentLevelList" 
          infinite-scroll
          [infiniteScrollDistance]="modalScrollDistance"
          [infiniteScrollThrottle]="modalScrollThrottle" (scrolled)="onScroll()">
          <div class="card-header">
             <span [innerHTML]="getSplittedLevelName(level.levelName)" *ngIf="level.levelName"></span>
             <!-- <span *ngIf="!level.levelName">From Drawing</span> -->
          </div>
          <div class="card-body" *ngIf="psByBoq == 1">
             <table class="display table table-bordered" *ngIf="level.items.length > 0">
                <tr>
                    <th>BOQ</th>
                    <th style="width:20%;text-align:left">Item Description</th>
                    <th style="text-align:center">Unit</th>
                    <th style="text-align:center">Alternative</th>
                    <th style="text-align:center">New</th>
                    <th style="text-align:center">ACC Qty</th>
                    <th style="text-align:center">Supp Qty</th>
                    <th style="text-align:center">U. Price</th>
                    <th style="text-align:center">Discount %</th>
                    <th style="text-align:center">Final U. Price</th>
                    <th style="text-align:center">Total Price</th>
                    <th>Sup. Comment</th>
                </tr>
                <tr *ngFor="let item of level.items; let i = index" [ngStyle]="{'background-color': item.isAlternative ? '#0c74784d' : (item.isNew ? '#bfa6544d' : null) }">
                  <td>{{item.rdBoqItem}}</td>
                  <td style="width:20%;text-align:left">{{item.rdItemDescription}}</td>
                  <td style="text-align:center">{{item.unit}}</td>
                  <td><i class="fa fa-check" *ngIf="item.isAlternative"></i></td>
                  <td><i class="fa fa-check" *ngIf="item.isNew"></i></td>
                  <td style="text-align:right">{{item.rdQuotationQty | number : '1.0-2' }}</td>
                  <td style="text-align:right">{{item.rdQty | number : '1.0-2' }}</td>
                  <td style="text-align:right">{{item.rdPrice | number : '1.0-2' }}</td>
                  <td style="text-align:right">{{item.rdDiscount | number : '1.0-2' }}</td>
                  <td style="text-align:right">{{item.rdPriceAfterDiscount | number : '1.0-2'}}</td>
                  <td style="text-align:right">{{item.rdTotalPrice | number : '1.0-0'}}</td>
                  <td style="text-align:left">{{item.comments}}</td>
                </tr>
                <!-- ✅ Add a total row -->
                <tr style="font-weight:bold; background-color:#f5f5f5">
                  <td colspan="5" style="text-align:right;">Total:</td>
                  <td style="text-align:right;">
                    {{ getTotalRdTotalQty(level) | number:'1.0-0' }}
                  </td>
                  <td style="text-align:right;">
                    {{ getTotalRdTotalSupQty(level) | number:'1.0-0' }}
                  </td>
                  <td colspan="3"></td>
                  <td style="text-align:right;">
                    {{ getTotalRdTotalPrice(level) | number:'1.0-0' }}
                  </td>
                  <td></td>
                </tr>
            </table>
          </div>
          <div class="card-body" *ngIf="psByBoq == 0">
            <table class="display table table-bordered" *ngIf="level.items.length > 0">
              <tr>
                <!-- <th>BOQ</th>
                <th>Item Description</th> -->
                <th style="width:20%">Resource Desc.</th>
                <th style="text-align:center">Unit</th>
                <!-- <th style="text-align:center">is Alt?</th>
                <th style="text-align:center">is New?</th> -->
                <th style="text-align:center">ACC Qty</th>
                <!-- <th style="text-align:center">Supp Qty</th> -->
                <th style="text-align:center">U. Price</th>
                <th style="text-align:center">Discount %</th>
                <th style="text-align:center">Final U. Price</th>
                <th style="text-align:center">Total Price</th>
                <th>Comment</th>
              </tr>
              <tr *ngFor="let item of level.items; let i = index" [ngStyle]="{'background-color': item.isAlternative ? '#0c74784d' : (item.isNew ? '#bfa6544d' : null) }">
                <!-- <td>{{item.rdBoqItem}}</td>
                <td>{{item.rdBoqItemDescription}}</td> -->
                <td style="width:20%;text-align:left">{{item.rdItemDescription}}</td>
                <td style="text-align:center">{{item.unit}}</td>
                <!-- <td style="text-align:center"><i class="fa fa-check" *ngIf="item.isAlternative"></i></td>
                <td style="text-align:center"><i class="fa fa-check" *ngIf="item.isNew"></i></td> -->
                <!-- <td style="text-align:center">{{item.rdQuotationQty | number : '1.0-2' }}</td> -->
                <td style="text-align:right">{{item.rdQty | number : '1.0-2'}}</td>
                <td style="text-align:right">{{item.rdPrice | number : '1.0-2' }}</td>
                <td style="text-align:right">{{item.rdDiscount | number : '1.0-2' }}</td>
                <td style="text-align:right">{{item.rdPriceAfterDiscount | number : '1.0-2'}}</td>
                <td style="text-align:right">{{item.rdTotalPrice | number : '1.0-0'}}</td>
                <td style="text-align:left">{{item.comments}}</td>
              </tr>
                <!-- ✅ Add a total row -->
                <tr style="font-weight:bold; background-color:#f5f5f5">
                  <td></td>
                  <td style="text-align:center;">Total:</td>
                  <td style="text-align:right;">
                    {{ getTotalRdTotalQty(level) | number:'1.0-0' }}
                  </td>
                  <td colspan="3"></td>
                  <td style="text-align:right;">
                    {{ getTotalRdTotalPrice(level) | number:'1.0-0' }}
                  </td>
                  <td></td>
                </tr>
          </table>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>