<app-nav></app-nav>
<section>
  <nav aria-label="breadcrumb" class="p-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/package-list']">Packages List</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a
          style="color:#0d6efd; cursor: pointer; text-decoration: underline;" (click)="goBack()">{{packageName}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><strong>Revision Details</strong></li>

    </ol>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 card">
        <div class="card-header">

          <h3 *ngIf="supplierPackage && Revision">Supplier {{supplierPackage.psSupName}} | Revision {{Revision.prRevNo}}
            | {{Revision.prRevDate | date:'dd-MM-YYYY'}}</h3>
          
            <div class="row">
            <div class="col-sm-3 form-group p-2">
              <label>Item</label>
              <input type="text" class="form-control" id="filterItemDesc">
            </div>
            <div class="col-sm-3 form-group p-2" [ngStyle]="{'display': (psByBoq == 0) ? 'block' : 'none'}">
              <label>Resource</label>
              <input type="text" class="form-control" id="filterResource">
            </div>
            <div class="col-sm-3 form-group p-2">
              <br>
              <button class="btn btn-primary" (click)="searchRevDetails()">Search</button>
            </div>
            <div class="col-sm-3 form-group p-2">
              <br>
              <button class="btn btn-secondary" (click)="goBack()">Back to Package Supplier</button>
            </div>
          </div>
        </div>
        
        <div class="card-body">
          <table *ngIf="RevisionDetailsList.length > 0 && psByBoq == 1" class="table"
            [id]="'tblRevisionDtl-' + Revision.prRevId">
            <thead>
              <tr>
                <th>Item Description</th>
                <th>Quantity</th>
                <th>U. Price</th>
                <th>Discount %</th>
                <th>Final U. Price</th>
                <th>Total Price</th>
                <th>Reason For Fill Missing Price</th>
                <th>Added Item</th>
                <th>Added Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dt of RevisionDetailsList; let k = index">
                <td>{{dt.rdItemDescription}}</td>
                <td>{{dt.rdQty | number : '1.2-2' }}</td>
                <td style="width: 10% ;">
                  <input type="hidden" [value]="dt.rdResourceSeq">
                  <input type="hidden" [value]="dt.rdBoqItem">
                  <input *ngIf="dt.rdMissedPrice == 1" [value]="dt.rdPrice" type="number"
                    [className]="dt.rdMissedPrice == 1 ? 'form-control border-danger' : 'form-control'">
                  <span *ngIf="dt.rdMissedPrice != 1">{{dt.rdPrice | number : '1.2-2' }}</span>
                </td>
                <td  style="width: 8% ;">
                  <input *ngIf="dt.rdMissedPrice == 1" [value]="dt.rdDiscount" type="number"
                    [className]="dt.rdMissedPrice == 1 ? 'form-control border-danger' : 'form-control'">
                  <span *ngIf="dt.rdMissedPrice != 1">{{dt.rdDiscount }}</span>
                </td>
                <td>
                  <span>{{dt.rdPriceAfterDiscount | number : '1.2-2'}}</span>
                </td>
                <td>
                  <span>{{dt.rdTotalPrice | number : '1.2-2' }}</span>
                </td>
                <td>
                  <input *ngIf="dt.rdMissedPrice == 1" [value]="dt.rdMissedPriceReason" type="text" id="txtReason"
                    [className]="dt.rdMissedPrice == 1 ? 'form-control border-danger' : 'form-control'">
                </td>
                <td>
                  <ng-container *ngIf="dt.rdAddedItem == 1"> 
                    <span> Yes </span>
                  </ng-container> 
                </td>
                <td>
                  <span>{{dt.rdAddedItemOn | date: 'dd/MM/yyyy'}}</span>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td colspan="6" style="text-align: right;">
                  <button class="btn btn-success btn-block" [disabled]="saving"
                    (click)="UpdateRevisionPricesByBoq(Revision.prRevId, 'tblRevisionDtl-' + Revision.prRevId)">
                    <i class="fa fa-spinner fa-spin" *ngIf="saving"></i>
                    Update Prices</button>
                </td>
              </tr>
            </tfoot>
          </table>

          <table *ngIf="RevisionDetailsList.length > 0 && psByBoq == 0" class="table"
            [id]="'tblRevisionDtl-' + Revision.prRevId">
            <thead>
              <tr>
                <th style="width: 10%;">Item</th>
                <th style="width: 90%;">
                  <table class="table" width="100%" >
                    <thead>
                      <th style="width: 20%;">Resource</th>
                      <th style="width: 10%;">Qty</th>
                      <th style="width: 10%;">U. Price</th>
                      <th style="width: 10%;">Discount %</th>
                      <th style="width: 10%;">Final U. Price</th>
                      <th style="width: 10%;">Total Price</th>
                      <th style="width: 10%;">Added Item</th>
                      <th style="width: 10%;">Added Date</th>
                      <th style="width: 10%;">Comment</th>
                    </thead>
                  </table>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let it of RevisionDetailsBoqItems; let that = index">
                <td style="width: 10%;">
                -  {{it.descriptionO}}
                </td>
                <td style="width: 90%;">
                  <table class="table" width="100%" *ngIf="checkIfItemExistsInResources(RevisionDetailsList, it.itemO) > 0">
                    <tbody>
                      <tr *ngFor="let dt of getResourcesPerItem(RevisionDetailsList, it.itemO)">
                        <td style="width: 20%;">
                          {{dt.rdItemDescription}}
                        </td>
                        <td style="width: 10%;">{{dt.rdQty | number : '1.2-2'}}</td>
                        <td style="width: 10%;">{{dt.rdPrice | number : '1.2-2'}}</td>

                        <td style="width: 10%;">
                          <input *ngIf="dt.rdMissedPrice == 1" [value]="dt.rdDiscount" type="number"
                            [className]="dt.rdMissedPrice == 1 ? 'form-control border-danger' : 'form-control'">
                          <span *ngIf="dt.rdMissedPrice != 1">{{dt.rdDiscount | number : '1.2-2'}}</span>
                        </td>
                        <td style="width: 10%;">
                          <span>{{dt.rdPriceAfterDiscount | number : '1.2-2'}}</span>
                        </td>
                        <td style="width: 10%;">
                          <span>{{dt.rdTotalPrice | number : '1.2-2'}}</span>
                        </td>
                        <td style="width: 10%;">
                          <input type="hidden" [value]="dt.rdResourceSeq">
                          <input *ngIf="dt.rdMissedPrice == 1"
                            [id]="'price-' + dt.rdResourceSeq + '-' + + Revision.prRevId" [value]="dt.rdPrice"
                            type="number"
                            [className]="dt.rdMissedPrice == 1 ? 'form-control border-danger' : 'form-control'">
                        </td>
                        <td style="width: 5%;">
                          <ng-container *ngIf="dt.rdAddedItem == 1"> 
                            <span> Yes </span>
                          </ng-container> 
                        </td>
                        <td style="width: 10%;">
                          <span>{{dt.rdAddedItemOn | date: 'dd/MM/yyyy'}}</span>
                        </td>
                        <td style="width: 10%;">
                          <input *ngIf="dt.rdMissedPrice == 1" [value]="dt.rdMissedPriceReason" type="text" id="txtReason"
                            [className]="dt.rdMissedPrice == 1 ? 'form-control border-danger' : 'form-control'">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td style="text-align: right;">
                  <button class="btn btn-success btn-block" [disabled]="saving"
                    (click)="UpdateRevisionPrices(Revision.prRevId, 'tblRevisionDtl-' + Revision.prRevId)">
                    <span class="spinner-border spinner-border-sm" *ngIf="saving"></span>
                    Update Prices</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>